**/*.o
**/*.elf
**/*.iso
**/*.bin
**/*.out
**/*.out.md
build/build-tools/**
build/packages/**
build/pkg-builds/**
build/system-root/**
build/tool-builds/**
build/tools/**
build/libraries/**
**/*.xbstrap
**/*.link
.vscode
qemu.log
e9.vt100
